body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Verdana, "Lucida Grande", sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body.embedded .hide-embedded {
  display: none;
}

#menu {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
}

#app {
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: row;
}
