#menu {
  background-color: #17181C;
  border-bottom: 1px dotted #5D626B;
}

#menu .splitter {
  width: 1px;
  margin: 9px 4px;
  background-color: #5D626B;
}

#menu .separator {
  flex: 1 1 0;
}

#menu :disabled {
  background-color: #555;
  cursor: default;
}

#menu button, #menu select, #menu input[type="text"] {
  margin: 8px;
  background-color: #7289DA;
  color: #FFF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}

#menu button {
  font-size: 17px;
  padding: 0 12px;
  border: 0;
  cursor: pointer;
}

#menu select {
  font-size: 14px;
  padding: 6px;
  border: 0;
  cursor: pointer;
}

#menu input[type="text"] {
  font-size: 14px;
  padding: 7px 12px;
  border: 0;
}

#menu .nav {
  display: flex;
  flex-direction: row;
  margin: 0 8px;
}

#menu .nav > button {
  font-size: 14px;
}

#menu .nav > button.icon {
  font-family: Lucida Console, monospace;
  font-size: 17px;
  padding: 0 8px;
}

#menu .nav > button, #menu .nav > p {
  margin: 8px 1px;
}

#opt-filter-list > select, #opt-filter-list > input {
  display: none;
}

#opt-filter-list > .active {
  display: block;
}

#opt-save-filtered {
  display: flex;
}

#opt-save-filtered:not(.active) {
  display: none;
}
