body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Verdana, "Lucida Grande", sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: row;
}
