body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Verdana, "Lucida Grande", sans-serif;
    line-height: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: row;
}

.loading {
  position: relative;
  --loading-backdrop: rgba(0, 0, 0, 0);
}

.loading:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.loading::after {
  content: "";
  background: var(--loading-backdrop)
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300' preserveAspectRatio='xMidYMid'%3E %3Ccircle cx='150' cy='150' fill='none' stroke='%237983f5' stroke-width='8' r='42' stroke-dasharray='198 68'%3E %3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='1.25s' values='0 150 150;360 150 150' keyTimes='0;1' /%3E %3C/circle%3E %3C/svg%3E")
  no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
