#menu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 8px;
  padding: 8px;
  background-color: #17181c;
  border-bottom: 1px dotted #5d626b;
}

#menu .splitter {
  flex: 0 0 1px;
  margin: 9px 1px;
  background-color: #5d626b;
}

#menu .separator {
  flex: 1 1 0;
}

#menu :disabled {
  background-color: #555;
  cursor: default;
}

#menu button, #menu select, #menu input[type="text"] {
  height: 31px;
  padding: 0 10px;
  background-color: #7289da;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}

#menu button {
  font-size: 17px;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
}

#menu select {
  font-size: 14px;
  border: 0;
  cursor: pointer;
}

#menu input[type="text"] {
  font-size: 14px;
  border: 0;
}

#menu .nav {
  display: flex;
  flex-direction: row;
}

#menu .nav > button {
  font-size: 14px;
}

#menu .nav > button.icon {
  font-family: Lucida Console, monospace;
  font-size: 17px;
  padding: 0 8px;
}

#menu .nav > button, #menu .nav > p {
  margin: 0 1px;
}

#opt-filter-list > select, #opt-filter-list > input {
  display: none;
}

#opt-filter-list > .active {
  display: block;
}

#btn-about {
  margin-left: auto;
}
