#messages {
  flex: 1 1 0;
  overflow-y: auto;
  background-color: #36393e;
}

#messages > div {
  margin: 0 24px;
  padding: 4px 0 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}

#messages h2 {
  margin: 0;
  padding: 0;
  display: block;
}

#messages .avatar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
}

#messages .avatar-wrapper > div {
  flex: 1 1 auto;
}

#messages .avatar {
  flex: 0 0 38px !important;
  margin: 8px 14px 0 0;
}

#messages .avatar img {
  width: 38px;
  border-radius: 50%;
}

#messages .username {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  margin-right: 3px;
  letter-spacing: 0;
}

#messages .info {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
}

#messages .info::before {
  content: "\2022";
  text-align: center;
  display: inline-block;
  width: 14px;
}

#messages .jump {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.message {
  margin-top: 6px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  line-height: 1.1em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.message .link, .reply-message .link {
  color: #7289da;
  background-color: rgba(115, 139, 215, 0.1);
}

.message a, .reply-message a {
  color: #0096cf;
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}

.message p {
  margin: 0;
}

.message .embed {
  display: inline-block;
  margin-top: 8px;
}

.message .embed .title {
  font-weight: bold;
  display: inline-block;
}

.message .embed .desc {
  margin-top: 4px;
}

.message .thumbnail {
  --loading-backdrop: rgba(0, 0, 0, 0.75);
  max-width: calc(100% - 20px);
  max-height: 320px;
}

.message .thumbnail img {
  width: auto;
  max-width: 100%;
  max-height: 320px;
  border-radius: 3px;
}

.message .download {
  margin-right: 8px;
  padding: 8px 9px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.message .embed:first-child, .message .download + .download {
  margin-top: 0;
}

.message code {
  background-color: #2e3136;
  border-radius: 5px;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 14px;
}

.message code.inline {
  display: inline;
  padding: 2px;
}

.message code.block {
  display: block;
  border: 2px solid #282b30;
  margin-top: 6px;
  padding: 7px;
}

.message .emoji {
  width: 22px;
  height: 22px;
  margin: 0 1px;
  vertical-align: -30%;
  object-fit: contain;
}

.reply-message {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  line-height: 120%;
  white-space: nowrap;
}

.reply-message-with-avatar {
  margin: 0 0 -2px 52px;
}

.reply-message .jump {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  text-underline-offset: 1px;
  margin-right: 7px;
}

.reply-message .emoji {
  width: 16px;
  height: 16px;
  vertical-align: -20%;
  object-fit: contain;
}

.reply-message .user {
  margin-right: 5px;
}

.reply-avatar {
  margin-right: 4px;
}

.reply-avatar img {
  width: 16px;
  border-radius: 50%;
  vertical-align: middle;
}

.reply-username {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
}

.reply-contents {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  max-width: calc(80%);
}

.reply-contents p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reply-contents code {
  background-color: #2e3136;
  font-family: Menlo, Consolas, Monaco, monospace;
  padding: 1px 2px;
}

.reply-missing {
  color: rgba(255, 255, 255, 0.55);
}

.reactions {
  margin-top: 4px;
}

.reactions .reaction-wrapper {
  display: inline-block;
  border-radius: 4px;
  margin: 3px 2px 0 0;
  padding: 3px 6px;
  background: #42454a;
  cursor: default;
}

.reactions .reaction-emoji {
  margin-right: 5px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  vertical-align: -5%;
}

.reactions .reaction-emoji-custom {
  height: 15px;
  margin-right: 5px;
  vertical-align: -10%;
}

.reactions .count {
  color: rgba(255, 255, 255, 0.45);
  font-size: 14px;
}
