body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Verdana, "Lucida Grande", sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/********
 * MENU *
 ********/

#menu {
  width: 100%;
  height: 48px;
  background-color: #17181C;
  border-bottom: 1px dotted #5D626B;
}

#menu button {
  font-size: 18px;
  height: 32px;
  margin: 8px;
  padding: 0 12px;
  background-color: #AADDFF;
  border: 0;
  cursor: pointer;
}

/*******
 * APP *
 *******/

#app {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 48px);
}

/****************
 * CHANNEL LIST *
 ****************/

#channels {
  width: 15vw;
  min-width: 215px;
  max-width: 300px;
  overflow-y: auto;
  background-color: #1C1E22;
}

#channels > div {
  cursor: pointer;
  padding: 10px 12px;
  color: #eee;
  font-size: 15px;
}

#channels > div:hover, #channels > div.active {
  background-color: #282B30;
}

#channels .info {
  display: flex;
  height: 16px;
  margin-bottom: 4px;
}

#channels .name {
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#channels .msgcount {
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  margin-left: 4px;
  margin-top: 1px;
  padding: 2px 5px;
  font-size: 11px;
}

/************
 * MESSAGES *
 ************/

#messages {
  flex: 1 1 0;
  overflow-y: auto;
  background-color: #36393E;
}

#messages > div {
  margin: 0 24px;
  padding: 8px 0 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}

#messages h2 {
  margin: 0;
  padding: 0;
  display: block;
}

#messages .username {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
}

#messages .time {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
}

/*******************
 * MESSAGE CONTENT *
 *******************/

#messages .message {
  margin-top: 6px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  line-height: 1.1em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#messages .message .link {
  color: #7289DA;
  background-color: rgba(115, 139, 215, 0.1);
}

#messages .message a {
  color: #0096CF;
  text-decoration: none;
}

#messages .message a:hover {
  text-decoration: underline;
}

#messages .message img {
  margin-top: 4px;
  max-height: 320px;
  max-width: calc(100vw - 299px);
  border-radius: 3px;
}

#messages .message code {
  background-color: #2E3136;
  border: 2px solid #282B30;
  border-radius: 5px;
  margin-top: 6px;
  padding: 7px;
  font-size: 14px;
  font-family: Menlo, Consolas, Monaco, monospace;
}
