body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Verdana, "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
  background-color: #36393E;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.inner {
  max-width: 1050px;
  margin: 0 auto 32px;
  padding: 0 8px;
}

p {
  margin: 12px 0 14px;
  line-height: 130%;
}

a {
  color: #0BA0D9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: 40px 0 16px;
  font-size: 44px;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

h1 span {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.35);
}

h2 {
  margin: 36px 0 0;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

h3 {
  margin: 24px 0 0;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.62);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

h2 + h3 {
  margin-top: 12px;
}

ul, ol {
  margin-top: 12px;
}

li {
  line-height: 140%;
}

.dht {
  border: 2px dashed rgba(255, 255, 255, 0.35);
  border-radius: 9px;
  padding: 3px;
  max-width: 100%;
  max-height: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.links {
  overflow: hidden;
  text-overflow: ellipsis;
}

#tracker-copy-contents {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  background: transparent;
  display: none;
  border: none;
  resize: none;
}
